.heading{
    width: 100%;
    font-size: 25px;
     box-shadow: 5px 5px 5px grey;
     margin:0;
}
.note{
    font-size: 18px;
    color: black;
}
canvas{
    border: 5px solid black;
    background-color: gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    background-color: lightskyblue;
    width: 100%;
    line-height: 3;
    box-shadow: -5px -5px 10px grey;
}